@charset "UTF-8";
/*  estilos para impressoras*/
*{
    margin: 10px;
    padding: 10px;
   }
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
  
}
body{ 
}
menu{
    display: none;
    color: blue;
}
article, h2{ color: brown;
   
}
article, p{
    color: black;
}
h1{
    color: brown;
}
footer, a{
    display: none;
}