@charset "UTF-8";
:root{
--cor1: red; 
}
@charset "UTF-8";

body{
background-color: var(--color2);
}
div{
border: 600px;
padding: 20px;
margin: auto;
border-radius: 10px;
background-color: var(--color1);
}
h1{ text-align: center;
color:  rgb(7, 62, 25);
}
h2{ text-align: center;
color: rgb(7, 68, 26);
}
p{
text-align: center;

}