@charset "UTF-8";
:root{
--cor1: red;
--cor2: blue;
}
body{

}
div{
border: 600px;
padding: 20px;
margin: auto;
border-radius: 10px;
background-color:var(--cor2) ;
}
h1{ text-align: center;
color:  rgb(7, 62, 25);
}
h2{ text-align: center;
color: rgb(7, 68, 26);
}
p{
text-align: center;

}